/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --evergreen: #3E454C;
  --darkevergreen: #22262A;
  --silver: #DEDFCE;
  --copper: #CB7D56;
  --darkcopper: #AD635A;
  --sky: #889CA2;
  --sherbert: #B0D169;

  --buttonprimary: #DEDFCE;
  --buttonprimaryhover: #889CA2;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'BrandonText-Bold';
  src: url('../fonts/BrandonText-Bold.eot');
  src: url('../fonts/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonText-Bold.ttf') format('truetype'),
       url('../fonts/BrandonText-Bold.woff') format('woff'),
       url('../fonts/BrandonText-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonText-Regular';
  src: url('../fonts/BrandonText-Regular.eot');
  src: url('../fonts/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonText-Regular.ttf') format('truetype'),
       url('../fonts/BrandonText-Regular.woff') format('woff'),
       url('../fonts/BrandonText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  /* Objects
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background: var(--evergreen);
  color: var(--sky);
  letter-spacing: .05rem;
  font-family: 'BrandonText-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
header {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

h1 {
  color: var(--silver);
  letter-spacing: 2.2vw;
  font-size: clamp(1rem, -0.6667rem + 7.4074vw, 6rem);
  font-family: 'BrandonText-Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h3 {
  color: var(--silver);
  letter-spacing: .2vw;
  font-family: 'BrandonText-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  margin: 0px;
}

a, a:hover {
  color: var(--silver);
}


.wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.wrapper .container {
  max-width: 90vw;
}

.projectstyle {
  margin: 1rem;
  padding: 4px !important;
  border: 2px solid var(--darkevergreen);
  border-radius: 8px;
  text-align: center;
  transition: all ease-in-out .3s;
  position: relative;
  height: calc(100% - 4px);
}

.projectstyle:hover .projectcontent > * {
  opacity: 1;
  transition: all ease-in-out .3s;
  vertical-align: middle;
}

.projectstyle:hover {
  border: 2px solid var(--silver);
  border-radius: 8px;
  transition: all ease-in-out .3s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.projectstyle img{
  border-radius: 4px;
  transition: all .4s ease-in-out;
}

.projectstyle:hover img {
  opacity: .10;
  transition: all .4s ease-in-out;
}

.projectcontent {
  display: block;
  border-radius: 4px;
  transition: all ease-in-out .3s;
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.projectcontent > * {
  opacity: 0;
  transition: all ease-in-out .3s;
}

.button {
  color: var(--evergreen);
  background-color: var(--silver);
  border: 1px solid var(--darkevergreen);
  transition: background-color ease-in-out .3s;
}
.button:hover {
  color: var(--evergreen);
  background-color: var(--sky);
  border: 1px solid var(--darkevergreen);
  transition: background-color ease-in-out .3s;
}




/* Animation
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}
