/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --evergreen: #264546;
  --darkevergreen: #1D3435;
  --silver: #EDECEB;
  --copper: #A85F48;
  --darkcopper: #92533F;
  --sky: #ADC5D0;
  --sherbert: #F99157;

  --buttonprimary: #A85F48;
  --buttonprimaryhover: #F99157;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: brandontext-bold;
  src: url(fonts/brandontext-bold.woff2);
}
@font-face {
  font-family: brandontext-medium;
  src: url(fonts/brandontext-medium.woff2);
}
@font-face {
  font-family: brandontext-regular;
  src: url(fonts/brandontext-regular.woff2);
}
h1 {
  letter-spacing: 1rem;
}

  /* Objects
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background: var(--evergreen);
  color: var(--silver);
  letter-spacing: .03rem;
}
img {
  max-width: 96px;
}
header {
  text-align: center;
  margin-top: 25rem;
}
.projectstyle {
  padding: 1.6rem;
  border: 1px solid var(--darkevergreen);
  border-radius: 6px;
  text-align: center;
}
.button {
  background-color: var(--copper);
  border: 1px solid var(--darkevergreen);
}
.button:hover {
  background-color: var(--evergreen);
  border: 1px solid var(--darkevergreen);
}
