@import url(chota.css);

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'BrandonText-Bold';
  src: url('../fonts/BrandonText-Bold.eot');
  src: url('../fonts/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonText-Bold.ttf') format('truetype'),
       url('../fonts/BrandonText-Bold.woff') format('woff'),
       url('../fonts/BrandonText-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonText-Regular';
  src: url('../fonts/BrandonText-Regular.eot');
  src: url('../fonts/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonText-Regular.ttf') format('truetype'),
       url('../fonts/BrandonText-Regular.woff') format('woff'),
       url('../fonts/BrandonText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --bg-color: #3E454C;
  --color-primary: #CB7D56;
  --color-lightGrey: #DEDFCE;
  --color-grey: #889CA2;
  --color-darkGrey: #22262A;
  --font-color: #DEDFCE;
  --grid-maxWidth: 140rem;
}


  /* Objects
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: 'BrandonText-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .05rem;
}
header {
  margin: 5rem auto;
}


h1 {
  font-family: 'BrandonText-Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 1rem;
}

h3 {
  letter-spacing: .2rem;
}

.card {
  border-radius: 18px;
  border: 2px solid var(--color-darkGrey);
}
.card img {
  border-radius: 8px;
}
.card p:last-child {
  margin: 0rem 6rem;
}
.card span {
  color: var(--color-grey);
}


/* Animation
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}
